# Exclude package manager cache
gm_modules/*

# Exclude build artifacts from the repository
bin/*
yyp/out/*
yyp/tmp/*

# GML source files should be synced using the gm-cli tool
yyp/scripts/**/*.gml
yyp/objects/**/*.gml
yyp/rooms/**/*.gml

# Shader source files should be synced using the gm-cli tool
yyp/shaders/**/*.fsh
yyp/shaders/**/*.vsh

# Tracks should be commited to https://github.com/Barons-Keep/visu-track
yyp/datafiles/track/*

# Exclude devtools
yyp/datafiles/README.md
yyp/datafiles/log.sh
yyp/datafiles/package-gm.json
yyp/datafiles/setup.sh

# If all of your sprite sources are in this repo you can stick a "!" in front of this to track this file. Otherwise this file is machine-specific and should be ignored.
sprites.import.json

# This is a cache file for speeding up subsequent pipeline operations. It should not be tracked in git.
sprites.info.json
